/bin
/obj
/.vs
/src/CodeChallenge.App.Api/bin
/src/CodeChallenge.App.Api/obj
/src/CodeChallenge.App.Core/obj
/src/CodeChallenge.App.Core/bin
/src/CodeChallenge.App.Infrastructure/bin
/src/CodeChallenge.App.Infrastructure/obj
/src/CodeChallenge.App.Api/*.user
/CodeChallenge.App.ApiTest/obj
/CodeChallenge.App.ApiTest/bin
/test/CodeChallenge.App.ApiTest/obj
/test/CodeChallenge.App.ApiTest/bin
/test/CodeChallenge.App.CoreTest/obj
/test/CodeChallenge.App.CoreTest/bin
/test/CodeChallenge.App.InfrastructureTest/bin
/test/CodeChallenge.App.InfrastructureTest/obj
